{:hooks
 {:analyze-call {libpython-clj2.require/import-python
                 hooks.libpython-clj2.require.import-python/import-python}}
  :linters {:unused-namespace {:exclude [builtins.list
                                         builtins.dict
                                         builtins.set
                                         builtins.tuple
                                         builtins.frozenset
                                         builtins.str
                                         builtins]}}
}
